#contact {
    margin-top: 10vh;
}

#contact h2 {
    margin: 0 0 0 1vw;
}

.contact-container {
    display: grid;
    place-items: center;
    padding: 2.5rem;
    margin-top: 1.5rem;
    background-color: #131516;
    border-radius: 5px;
}

.contact-container h3 {
    font-size: 1.25rem;
    margin: 0 0 2rem 0;
}

.contact-icons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    transform: scale(2.5);
}