#interest {
    margin: 15vh 1rem 0;
    text-align: center;
}

#interest .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#interest .card {
    width: 100px;
    margin: 20px;
    padding: 40px 20px;
    background: #131516;
    border-radius: 5px;
}

#interest p {
    margin: 16px 0 0;
}