#portfolio {
    margin-top: 15vh;
}

#portfolio h2 {
    margin: 0 0 0 1vw;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background: #131516;
    border-radius: 5px;
    text-align: center;
}